<h2>Profile</h2>
<p>
  <strong>Name: </strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email: </strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role: </strong>
  <%= @user.role.name %>
</p>

<p>
  <strong>Joined on: </strong>
  <%= @joined_on %>
</p>

<p>
  <strong>Last logged in on: </strong>
  <%= @last_login %>
</p>

<p>
  <strong>No. times logged in: </strong>
  <%= @user.sign_in_count %>
</p>

<%= link_to "Edit", edit_user_path(@user) %> | 
<%= link_to "Back to list", users_path, class: "move-right" %>

<%#= debug(@user) %>
<%#= link_to "Update", user_path(@user), method: :patch %>