<% title "All Sections" %>
<%= link_to "Add new section", new_section_path %><br>
<%= link_to "All subjects", subjects_path %>
<div id="section-lookup">
  <%= form_tag sections_path, method: :get, id: "section-lookup-form" do %>
    <%#= label_tag :search_param, "Search a section" %>
    <%= text_field_tag :search_param, nil, autofocus: true, placeholder: "Search in sections" %>
    <%= submit_tag 'Search', class: "button" %>
  <% end %>
</div>

<% if !@detailed %>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sections_by_month.each do |month, sections| %>
        <h3><%= month.strftime("%B %Y") %></h3>
        <tr>
          <% sections.each do |section| %>
            <p><%= link_to section.title, section_path(section) %> <%= section.deadline.to_s(:deadline_format) %></p>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Title</th>
        <th>Done</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <% if @sections.present? %>
        <% @sections.each do |section| %>
          <tr>
            <%# subject_title only for joins-select(-where); otherwise, subject.title %>
            <td><%= section.subject_title %></td>
            <td><%= link_to section.title, section_path(section) %></td>
            <td><%= section.complete %></td>
            <td><%= section.priority %></td>
            <td><%= section.deadline.to_s(:deadline_format) %></td>
            <td><%= truncate(section.body, length: 50, separator: ' ') %></td>
          </tr>
        <% end %>
      <% else %>
        <p>There are no sections containing <em><%= params[:search_param] %></em>.</p>
      <% end %>
    </tbody>
  </table>
<% end %>
