<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Title</th>
      <th>Done</th>
      <th>Priority</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <%# subject_title only for joins-select(-where); otherwise, subject.title %>
        <td><%= section.subject.title %></td>
        <td><%= section.title %></td>
        <td><%= section.complete %></td>
        <td><%= section.priority %></td>
        <td><%= truncate(section.body, length: 50, separator: ' ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Subjects list", subjects_path %>