<h2 align="center"><%= @section.title %></h2>
<p><strong>Complete?</strong> <%= @section.complete %></p>
<p><strong>Content:</strong> </p>
<p><%= @section.body %></p>
<br>
<p><%= link_to "Subjects list", subjects_path %></p>
<p><%= link_to "Sections list", sections_path %></p>