<h2 align="center"><%= @section.title %></h2>
<p><strong>Complete?</strong> <%= @section.complete %></p>
<% if !@section.complete %>
  <p><strong>Deadline:</strong> <%= @section.deadline.to_s(:deadline_format) %></p>
<% end %>
<p><strong>Content:</strong> </p>
<p><%= @section.body %></p>
<p><%= link_to "Edit", edit_section_path(@section) %> | <%= link_to "Delete", section_path(@section), method: :delete, data: { confirm: "Are you sure?" } %></p>
<p><%= link_to "Subjects list", subjects_path %> | <%= link_to "Sections list", sections_path %></p>
<br>
<h2>Comments</h2>
<div class="comments-section">
  <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <hr align="left">
  <% end %>
</div>
<br>
<%= form_for(Comment.new, url: section_comments_path(@section)) do |f| %>
  <p><%= f.text_area :content, size: "50x5" %></p>
  <p><%= submit_tag "Add Comment", class: "button" %></p>
<% end %>
