<% title "All Products" %>
<p><%= link_to "Add product", new_product_path if can? :create, Product %></p>
<p><%= link_to "All products", products_path %></p>

<div id="section-lookup">
  <%= form_tag products_path, method: :get, id: "section-lookup-form" do %>
      <%= text_field_tag :search, params[:search], autofocus: true, placeholder: "Search for a product" %>
      <%= submit_tag "Search", name: nil, class: "button" %>
  <% end %>
  <p>
    <% if @products.present? %>
      <%= pluralize(@products.count, 'product') %> found
    <% else %>
      <p>There are no products containing <em><%= params[:search] %></em>.</p>
    <% end %>
  </p>
</div>

<div align="center">
  <%= will_paginate %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Categories</th>
      <th>Name</th>
      <th>Price</th>
      <th>Seller</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.categories.map(&:name).join(', ') %></td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.user.full_name %></td>
        <td><%= link_to "Show", product %></td>
        <td><%= link_to "Edit", edit_product_path(product) if can? :update, product%></td>
        <td><%= link_to "Delete", product, method: :delete, data: { confirm: "Are you sure?" } if can? :destroy, product%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate %>
</div>
